node_modules
**/node_modules
core/dist
server/dist
desktop/*
!desktop/package.json
dist
secrets
.git
.github
.claude
.gstack
.impeccable
**/test
server/scripts
server/web
server/public
.env
.env.*
**/.DS_Store
